<div id="nav">
  <h1 id="title">my first ruby <span id="rials"> on rials </span> </h1>
    <ul>
      <li class="li"> <%=link_to("home", "/")%></li>
      <li class="li"><%=link_to("about", "about")%></li>
      <li class="li"><%=link_to("thanks", "thanks")%></li>
  </ul>
</div>

<div id="main">
  <div class="article content">
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa iure, voluptatem labore reiciendis odit minus sequi ratione? Voluptates impedit quibusdam dolore perspiciatis quasi sint quas vel! Quia natus laudantium temporibus!
     Rem, cupiditate? Similique excepturi libero fugit minus numquam debitis, voluptas quas tenetur, cum totam fuga, explicabo quasi exercitationem corporis rem. Beatae porro ipsum impedit, deserunt tempore quos fuga facilis. Dolore.
     Totam laborum aliquid dolores in corrupti voluptatum soluta vero architecto asperiores modi itaque cumque eligendi reprehenderit suscipit quas, eveniet facilis harum quaerat neque quasi iusto minima nobis explicabo a! Quo.
     Perspiciatis unde enim mollitia impedit nam officiis aperiam molestias inventore? Vel, dolor quae iure facilis deserunt sed. Natus, amet harum itaque hic sapiente deserunt nemo a in ratione possimus soluta.
     Quidem explicabo excepturi rem et natus aperiam porro maiores, aliquid amet eligendi doloribus aspernatur ducimus. Aperiam assumenda adipisci sequi est ea, odit aliquid, omnis possimus provident inventore, nesciunt sapiente ut?
     Eligendi, expedita veritatis. Architecto, explicabo, et ipsa doloribus impedit vitae sit magnam assumenda corporis delectus animi dolores, cum cumque omnis officiis asperiores non porro soluta eaque eos id laudantium! Molestias.
     Omnis accusantium laudantium veniam earum non. Fuga repellat sequi cumque blanditiis eaque veniam odit repellendus corporis eveniet nesciunt dolores dignissimos, minus facere illum recusandae ratione quisquam distinctio. Culpa, amet rerum!
     Illo dolorum provident asperiores quasi iusto eaque ipsam, laboriosam veniam? Dolore quae voluptatem veritatis rem, deleniti ullam amet? Incidunt perferendis reprehenderit ipsa soluta sapiente facilis repellendus veritatis autem fugiat consequuntur.
     Illum sit laborum id sunt consectetur obcaecati assumenda amet unde, natus perferendis quidem, incidunt officiis odio exercitationem. In officia sequi et possimus quam nesciunt cupiditate, labore repellat illo odit mollitia.
     Excepturi doloremque sunt dolore accusantium atque, saepe quas sed numquam eos, consequatur nesciunt similique molestiae, itaque dolor iusto necessitatibus? Velit officiis a illo adipisci natus aliquam ipsam! Provident, ad laborum?</p>
  </div>

  <div class="aside content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde recusandae neque suscipit? Ullam autem repellat natus voluptatum eum eligendi consequatur omnis alias voluptatibus. Ducimus, assumenda adipisci porro animi ea quos?</p>
  </div>
</div>
 <div id="images">
   <%= image_tag('index.jpg', draggable: "true", id: "drag1") %>
   <%= image_tag('index2.png', draggable: "true", id: "drag2") %>
   <%= image_tag('index3.png', draggable: "true", id: "drag3") %>
  </div>
<div id="footer"><h6>&copy proudly made by Pedro Ramirez</h6></div>